.hero-section{
    
    height:900px; 
background: linear-gradient(
  135deg,
  #0F2854 0%,
  #4988C4 45%,
  #BDE8F5 100%
);

   
   // background: linear-gradient(300deg, #4988C4, #0F2854 , #BDE8F5);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; 
    margin: 0;  //  
}


.title{
   position: relative;
   
  
}

.myself{
    font-size: 4.5rem;
    color: #0F2854;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align:center;
    margin-bottom: 0;
}
.piyush{
    font-size: 4.5rem;
    color: #0F2854;
    font-weight:lighter;
    font-optical-sizing: auto;
    font-style:normal;
    text-align:center;
    margin-top: 0;
   
}

.title-para{
    position: absolute;
    left:36%;
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    color: #0F2854;
}



.editing{
   height: 250px;
   position:relative;
   top: 260px;
   left: 200px;
   
}

.braces{
   position:absolute;
   height:200px;
   left: 75%;
   top:32%;
   
} 

.profile{
    position: relative;
    top:100px;
    left:45%;
    
    border-radius: 50%;
    width:200px;
    height:200px;
}

.align-text{
    position: absolute;
    left:710px;
}

.all-text{
  
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
   /* background-color:#0F2854;*/
   background: linear-gradient(
  160deg,
  #0F2854 0%,
  #1C3D73 100%
);

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width:500px;
  
    
}

.skill-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cinzel", serif;
    font-size: 2rem;
    color: #BDE8F5;
}

.skill-section{
    height: 900px;   
    margin-top: 350px;
   
}

.skill-container{
   margin-left: 50px;
   margin-right: 50px;
    background: linear-gradient(
  180deg,
  #BDE8F5 0%,
  #E9F6FB 100%
);

    height: 700px;
    padding-top: 150px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
   
}

.first-skill{
    padding-top: 100px;
    background: linear-gradient(
  160deg,
  #0F2854 0%,
  #1C3D73 100%
);

    /*background-color:#0F2854;*/
    position: absolute;
    left: 400px;
    font-family: "Cinzel", serif;
    font-style: normal;
    padding: 70px 80px 70px 80px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:#BDE8F5;
    
}

ul{
    list-style: none;
    text-align: center;
    font-size: 1.2rem;
    margin-right:40px;
    padding-top: 10px;

}

li{
    margin-top: 10px;
    padding: 2px;
}

h3{
    font-size: 1.5rem;
}

.laptop{
    border-radius: 50%;
    width: 200px;
    
}

.second-skill{
    padding-top: 100px;
    background: linear-gradient(
  160deg,
  #0F2854 0%,
  #1C3D73 100%
);

   /* background-color:#0F2854;*/
    position: absolute;
    left: 1100px;
    font-family: "Cinzel", serif;
    font-style: normal;
    padding: 70px 70px 70px 70px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color:#BDE8F5;
}

.edit-pic{
    border-radius: 50%;
    width:200px;
    
}


.project-title{
    margin-left: 710px;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*background-color:#BDE8F5;*/
    background: linear-gradient(
  160deg,
  #0F2854 0%,
  #1C3D73 100%
);

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width:500px;
    text-align: center;
    font-family: "Cinzel", serif;
    font-style: normal;
    color:#BDE8F5;

}

.heading{
    font-size: 2rem;
}

.para{
    font-family: "Cinzel", serif;
    font-style: normal;
    font-size: 1.5rem;
}


.first-project-back{
    background-color:#BDE8F5;
    height: 480px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.first-project{
    padding-top: 30px;
    margin-left: 130px;
    margin-top: 150px;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-size: 1.2rem;
    color: #0F2854;
   
}

.mondrian{
    padding-left: 15px;
    font-size: 1.7rem;
}

.art-img{
    float: left;
    padding-top: 20px;
    border-radius: 50%;
}

.paragraph{
    padding-left: 370px;
    padding-top: 50px;
}

.link-mondrian{
    padding-left: 75px;
    padding-top: 20px;
    font-size: 1.5rem;
    color: #0F2854;
}





.second-project-back{
    background-color:#0F2854;
    height: 480px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.second-project{
    padding-top: 30px;
    margin-left: 200px;
    margin-top: 150px;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-size: 1.2rem;
    color: #BDE8F5;
   
}

.tindog{
    display: flex;
    justify-content: end;
    margin-right: 185px;
    font-size: 1.7rem;
    
}

.paragraph-tindog{
    padding-left: 100px;
    padding-top: 50px;
}

.link-tindog{
    display: flex;
    justify-content: end;
   padding-right: 100px;
    padding-top: 20px;
    font-size: 1.5rem;
    color: #BDE8F5;
    
}

.tindog-img{
    float: right;
    margin-top: 15px;
    border-radius: 50%;
    
    width: 300px; 
    margin-right: 150px; 
}






.third-project-back{
    background-color:#BDE8F5;
    height: 480px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.third-project{
    padding-top: 30px;
    margin-left: 130px;
    margin-top: 150px;
    font-family: "Cinzel", serif;
    font-style: normal;
    font-size: 1.2rem;
    color: #0F2854;
   
}

.youtube-title{
    padding-left: 30px;
    font-size: 1.7rem;
}

.somewhere-img{
    float: left;
    padding-top: 20px;
    border-radius: 50%;
    width: 300px;
}

.paragraph-somewhere{
    padding-left: 370px;
    padding-top: 50px;
}

.link-somewhere{
    padding-left: 70px;
    padding-top: 20px;
    font-size: 1.5rem;
    color: #0F2854;
}

footer{
   display: flex;
   justify-content:baseline;
}

.footer-back{
    background: linear-gradient(
  135deg,
  #0F2854 0%,
  #4988C4 45%,
  #BDE8F5 100%
); 
    
    height: 300px;
    margin-top: 200px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.youtube{
    position: absolute;
    left: 150px;
}


.youtube-img{
    
    border-radius: 20%;
    
    width: 100px;
    height: 100px;
    position: absolute;
    left: 600px;
    padding-top: 80px;
    
}

h4{
    font-family: "Cinzel", serif;
    font-style: normal;
    font-size: 1rem;
    color: #BDE8F5; 
    position: absolute;
    left: 612px;
    padding-top: 115px;
   
}





.linkedin{
    position: absolute;
    left: 440px;
    
}


.linkedin-img{
    width: 42px;
    height: 42px;
    position: absolute;
    left: 627px;
    padding-top: 105px;
    
}

.contact-back{
    position: absolute;
    margin-top: 75px;
    margin-left: 261px;
    
}

.contact{
    text-align: center;
}



/* ===========================
   MOBILE RESPONSIVE STYLES
   =========================== */

@media (max-width: 768px) {

  /* ---------- HERO SECTION ---------- */

  .hero-section {
    height: auto;
    padding: 40px 20px;
    text-align: center;
  }

  .editing,
  .braces {
    display: none; /* hide decorative images */
  }

  .myself,
  .piyush {
    font-size: 2.5rem;
  }

  .title-para {
    position: static;
    font-size: 1rem;
    margin-top: 10px;
  }

  .profile {
    position: static;
    margin-top: 30px;
    width: 150px;
    height: 150px;
  }

  /* ---------- SKILL TITLE ---------- */

  .align-text {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .all-text {
    width: 90%;
  }

  .skill-text {
    font-size: 1.4rem;
    text-align: center;
  }

  /* ---------- SKILLS SECTION ---------- */

  .skill-section {
    height: auto;
    margin-top: 50px;
  }

  .skill-container {
    height: auto;
    padding: 40px 0;
  }

  .first-skill,
  .second-skill {
    position: static;
    width: 85%;
    margin: 20px auto;
  }

  /* ---------- PROJECT TITLE ---------- */

  .project-title {
    margin: 40px auto;
    width: 90%;
  }

  /* ---------- PROJECTS ---------- */

  .first-project-back,
  .second-project-back,
  .third-project-back {
    height: auto;
    margin: 20px;
    padding-bottom: 40px;
  }

  .first-project,
  .second-project,
  .third-project {
    margin: 0;
    padding: 20px;
    text-align: center;
  }

  .art-img,
  .tindog-img,
  .somewhere-img {
    float: none;
    margin: 20px auto;
    width: 200px;
    display: block;
  }

  .paragraph,
  .paragraph-tindog,
  .paragraph-somewhere {
    padding: 0;
    margin-top: 20px;
  }

  .link-mondrian,
  .link-tindog,
  .link-somewhere {
    padding: 0;
    display: block;
    margin-top: 15px;
  }

  /* ---------- FOOTER ---------- */

  footer {
    flex-direction: column;
    align-items: center;
  }

  .youtube,
  .linkedin,
  .contact-back {
    position: static;
    margin-top: 10px;
  }

  .youtube-img,
  .linkedin-img {
    position: static;
    width: 50px;
    height: 50px;
  }

  h4 {
    position: static;
    padding: 0;
    margin-top: 5px;
    
  }

  .footer-back{
    height: 600px;
  }

  .contact-back{
    margin-right: 265px;
    margin-top: 60px;
  }

}







